
.top-tracks-container {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
}

.track-card {
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.2s ease;
}

.track-card:hover {
  transform: scale(1.02);
}


.track-thumb {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
}


@media (min-width: 768px) {
  .track-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}