nav.navbar {
    background-color: black !important;
    color: var(--blanco) !important;
    min-height: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.linkActive {
    background-color: var(--negro-hover);
    border-radius: 4px 4px 1px 1px;
    border-bottom: 2px solid var(--naranja-oscuro);
    transition: 0.5s ease;
}

.navbar a {
    color: var(--blanco);
}

.navbar a:hover {
    color: var(--naranja);
}

li {
    padding: 4px;
}

span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23F0F0F0' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

a {
    text-decoration: none;
}

img {
    width: 70px;
}

#theAudioAtlas {
    font-size: 36px;
    font-weight: 400;
    color: var(--gris);
    margin-right: 80px;
}

#theAudioAtlas span {
    font-weight: 700;
    color: var(--blanco);
}

.navbar-collapse {
    text-align: center;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.search-error {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    font-size: 0.8rem;
    color: #ff4d4d;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 2px 6px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none;
}



/* Queries */
@media (max-width: 1100px) {
    img {
        width: 50px;
    }

    #theAudioAtlas {
        font-size: 28px;
    }
}

@media screen and (max-width: 992px) {
    .div-inicio-logo {
        margin: 0 auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        margin: 0 auto;
    }

    #theAudioAtlas {
        font-size: 26px;
        align-self: center;
    }

    input.form-control {
        width: 100%;
    }

    form.d-flex {
        justify-content: center;
        margin-top: 15px;
    }
}