@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --negro: #121212;
    --negro-hover: #181818;
    --gris: #9d9d9d;
    --blanco: #F0F0F0;
    --naranja: #FF6A2A;
    --naranja-oscuro: #C54B1C;

    --font: "Outfit", sans-serif;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--negro);
    font-family: var(--font);
    color: var(--blanco);
}