<section class="section-top body-margin-top">
    <div>
        <h1>Explorá nuevos sonidos, <span>descubrí artistas</span></h1>
        <p>Información de artistas, álbumes y videos para que explores tu música favorita en un solo lugar.</p>
    </div>
</section>

<section class="section-destacados">
    <div>
        <h2>Artistas destacados</h2>
        <p class="section-p">Haz clic en el artista para conocerlo mejor</p>
        <article id="articleArtistas">
            @for (artista of listaArtistas; track $index) {
            <div>
                <!-- Cambiar por la ruta del id del artista -->
                <a routerLink="/artistas">
                    <img src="{{artista.strArtistThumb}}" alt="{{artista.strArtist}}">
                    <p>{{artista.strArtist}}</p>
                </a>
            </div>
            }
        </article>
    </div>

    <div>
        <h2>Canciones más escuchadas</h2>
        <p class="section-p">Las canciones más escuchadas nivel global</p>
        <article id="articleTracks">
            @for (track of listaTracks; track $index) {
            <!-- Sort por intMusicVidViews -->
            <div class="div-tracks">
                <div>
                    <a href="{{track.strMusicVid}}" target="_blank" id="trackLink">
                        <img src="{{track.strTrackThumb}}" alt="portada-track">
                    </a>
                </div>
                <div>
                    <h3>{{track.strTrack}}</h3>
                    <a routerLink="">
                        <p>{{track.strArtist}}</p>
                    </a>
                    <span>Vistas: {{track.intMusicVidViews}}</span>
                </div>
            </div>
            }
        </article>




        <!-- <h2>Últimos lanzamientos</h2>
        <article id="articleAlbumes">
            @for (track of listaTracks; track $index) {
            <div class="div-tracks">
                <div>
                    <a href="{{track.strMusicVid}}" target="_blank" id="trackLink">
                        <img src="{{track.strTrackThumb}}" alt="portada-track">
                    </a>
                </div>
                <div>
                    <h3>{{track.strTrack}}</h3>
                    <a routerLink="">
                        <p>{{track.strArtist}}</p>
                    </a>
                    <span>Vistas: {{track.intMusicVidViews}}</span>
                </div>
            </div>
            }
        </article> -->

    </div>
</section>