section:first-of-type {
    background-image: url(../../../../public/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
}

section:first-of-type div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.section-top h1,
.section-top p {
    color: var(--blanco);
    margin-left: 5rem;
}

h1 {
    font-size: 70px;
}

h1 span {
    color: var(--naranja);
}

section {
    margin-bottom: 4rem;
}

.section-top p {
    font-size: 28px;
}

/* Top 5 artistas */
h2,
.section-p {
    text-align: center;
}

.section-p {
    color: var(--gris);
}

.section-destacados div {
    margin: 0 auto;
    max-width: 80vw;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-destacados article {
    display: flex;
    flex-wrap: wrap;
}

.section-destacados article div {
    padding: 1rem;
}

.section-destacados article div:hover {
    background-color: var(--negro-hover);
    border-radius: 8px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.107);
}

.section-destacados article img {
    width: 200px;
    border-radius: 100%;
    cursor: pointer;
}

.section-destacados article p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 1rem;
}



/* QUERIES */
@media (max-width: 1080px) {
    h1 {
        font-size: 40px;
    }

    .section-top p {
        font-size: 28px;
    }
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 30px;
    }

    .section-top p {
        font-size: 18px;
    }

    .section-top h1,
    .section-top p {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}




@media (max-width: 768px) {
    section:first-of-type {
        height: 80vh;
    }

    .section-top h1,
    .section-top p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}



@media (max-width: 480px) {
    section:first-of-type {}
}



@media (max-width: 375px) {}